{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> -->
{% endblock%}


{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <h1 class="text-center">Welcome to PITCH PERFECT</h1>
        <br>
        <hr>
        <br>
        <h2 class="text-center">Categories</h2>
        <br>
        <hr>
        <br>
        <div class="row categories">
            <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="{{url_for('main.pitches_category',category='pickup-lines')}}">PickUp-Lines</a>
            </div>
            <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <a href="{{url_for('main.pitches_category',category='motivational')}}">Motivational</a>
            </div>
            <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <a href="{{url_for('main.pitches_category',category='promotion')}}">Promotion</a>
            </div>
        </div>
        <div class="row categories">
            <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <a href="{{url_for('main.pitches_category',category='funny')}}">Funny</a>
            </div>
            <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <a href="{{url_for('main.pitches_category',category='random')}}">Random</a>
            </div>
            <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="{{url_for('main.pitches_category',category='all')}}">All</a>
            </div>
        </div>
    </div>


<style>

  .category {
    padding-bottom: 50px;
</style>


{% endblock %}
